* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

                            /* Task 1 : */
.header, .main, .footer {
    border: 1px solid red;
}
                       
.task1-container {
   display: grid;
   height: 100vh;
   grid-template-rows: auto 1fr auto;
}

