* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    border: 2px solid red;
}
                            /* Task 1 : */
.header, .main, .footer {
    border: 1px solid red;
}
                       
.task1-container {
   display: grid;
   height: 100vh;
   grid-template-rows: auto 1fr auto;
}


                            /* Task 2 : */

.height-50 {
    height: 50vh;
 }                           

.task2-container {
    display: grid;
    height: 100vh;

    grid-template-columns: repeat(12, 1fr);
    column-gap: 12px;

    align-items: center;

 }

 .item1 {
    border: 2px solid red;
    grid-column: 2 / span 4;
 }

 .item2 {
    border: 2px solid red;
    grid-column: 6 / span 6;
 }